.question-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.illustration img {
  max-width: 500px;
  height: auto;
}

.question-card {
  background: #ebebeb;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 580px;
  position: relative;
  margin-top: 4rem;  
}

.timer {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #444;
}

.question-text {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.answer-option {
  position: relative;
  display: flex;
  align-items: center;
}

.answer-label {
  margin-left: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.next-btn {
  background-color: #28343a;
  color: #ebebeb;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.next-btn:hover {
  background-color: #ebebeb;
  color: #28343a
}

.time-up {
  color: red;
  font-weight: bold;
}

.emoji-explosion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  pointer-events: none;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}
