body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #9e9e9e;
}

.login-page {
  display: flex;
  gap: 121px;
  align-items: center;
  padding: 0px 30px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.login-left {
  text-align: center;
}

.login-image {
  width: 570px;
  height: auto;
}

.login-right {
  min-width: 300px;
  max-width: 500px;
}

.login-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #28343a;
}

.login-card {
  background: #ebebeb;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.login-card input {
  width: 94%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #ffb300;
  color: #ebebeb;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.login-card button:hover {
  background-color: #ebebeb;
  color: #28343a;
}

.success {
  color: green;
}

.error {
  color: red;
}
